/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
}

:root{
	--primary-color: 120, 84, 55;
	--header-font: "Libre Baskerville", serif;
	--button-font: "Libre Baskerville", serif;
	--body-font: "Libre Baskerville", serif;
	--sans-serif: "Roboto", sans-serif;
	--header-color: #000000;
	--vert-scroll-pos: 0%;
}

body{
    font-family: var(--body-font);
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 0px;
	background: #F4F4F4;
	color: black;
}

iframe{
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

h1{
	font-family: var(--header-font);
	font-style: italic;
	font-size: 64px;
	font-weight: 400;
	line-height: normal;
	color: var(--header-color);
}
h3{
	font-family: var(--header-font);
	font-style: italic;
	font-size: 36px;
	font-weight: 400;
	line-height: normal;
	color: var(--header-color);
}

h6{
	font-family: var(--header-font);
	font-style: italic;
	font-weight: 400;
	font-size: 32px;
	color: var(--header-color);
}

button{
	font-family: var(--button-font);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: white;
	border: none;
	border-radius: 100vw;
	box-sizing: border-box;
	height: 48px;
	padding: 9px 32px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: fit-content;
	cursor: pointer;
	transition: 0.1s background;
}

button:has(span.material-symbols-outlined), button:has(i.fa-brands){
	padding-left: 16px;
}

button.primary{
	background: rgb(var(--primary-color));
}
button.secondary{
	background: rgba(var(--primary-color), 0.3);
    color: inherit;
}
button:hover{
	background: rgba(var(--primary-color), 0.5);
}

.section{
	display: flex;
	flex-direction: column;
	padding: 64px;
	gap: 32px;
	width: 100%;
	min-height: 100vh;
	min-height: 100svh;
}

#header, #footer{
	background-image: url(./bg.webp);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	justify-content: space-between;
	background-repeat: no-repeat;
	--header-color: #ffffff;
	text-shadow: 2px 2px 4px #00000059;
}
.logos > img:nth-child(1){
	background: rgba(255, 255, 255, 0);
	width: auto;
	height: auto;
	padding: 4px;
	border-radius: 100px;
	backdrop-filter: blur(20px) saturate(180%);
}
.logos{
	display: flex;
	flex-direction: row;
	gap: 16px;
	align-items: center;
	width: min-content;
	position: fixed;
}
.logos.absolute{
	position: absolute;
	top: calc(100svh - 338px);
}
.logos .I{
	width: 1.5px;
	height: 32px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 100vw;
}

#content{
	align-items: center;
}

#footer{
	padding: 64px;
}
#footer h1{
	font-size: 32px;
}
#footer h3{
	font-size: 24px;
}

#header > .bottom{
	display: flex;
	flex-direction: column;
	gap: 16px;
}

p{
	font-family: var(--body-font);
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
	text-align: left;
	line-height: 1.3;
}
.cards{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
	flex-wrap: wrap;
}

.card.fullscreen{
	width: 100%;
	max-width: none;
	height: 60vh;
}

.card{
	display: flex;
	width: 256px;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	overflow: hidden;
	border-radius: 16px;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05), 0px 2px 3px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.card > .content{
	display: flex;
	padding: 16px;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	flex: 1 0 0;
	align-self: stretch;
	background: rgb(255, 255, 255);
}
.card > button{
	width: 100%;
	border-radius: 0px;
	font-weight: 700;
	padding: 0px 9px;
	border-top: 1px solid rgba(var(--primary-color), 0.2);
}
.card > .content > h5{
	font-family: var(--header-font);
	font-size: 20px;
	height: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.card > .content > p{
	font-family: var(--body-font);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.price{
	display: flex;
	align-items: end;
}
.price > p{
	font-family: var(--body-font);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.price > p:first-child{
	font-size: 24px;
}
.price > p:nth-child(2){
	font-size: 16px;
}

.formcta{
	display: flex;
	align-items: center;
	gap: 24px;
	text-align: left;
}

.trailer{
	width: auto;
	height: 80vh;
	aspect-ratio: 0.56271981242 / 1;
	max-height: 512px;
	border-radius: 16px;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05), 0px 2px 3px rgba(0, 0, 0, 0.05);
	box-sizing: content-box;
	background: rgb(0, 0, 0);
	object-fit: cover;
}

.trailerc{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.fa-brands, .fab {
    font-size: 24px;
}

.carrousel-c{
	position: relative;
}

.carrousel{
	display: flex;
	flex-direction: row;
	scroll-behavior: smooth;
	gap: 16px;
	overflow-x: auto;
	margin: 0px -24px;
	padding: 0px 104px 16px 24px;
	-webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 1%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
  	mask-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 2%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
}

.carrousel-c button{
	width: 64px;
	height: 64px;
	align-items: center;
	justify-content: center;
	padding: 20px 16px 20px 20px;
	margin: 0;
	background: rgb(var(--primary-color));
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
	position: absolute;
	right: 0px;
	top: 50%;
	z-index: 2;
	transform: translateY(-50%);
	transition: 0.1s filter;
}

.carrousel-c button:hover{
	filter: brightness(1.2);
}

.carrousel-c button:active{
	filter: brightness(0.8);
}

.carrousel::-webkit-scrollbar{
	height: 6px;
	width: 0px;
}
.carrousel::-webkit-scrollbar-track{
	height: 6px;
	background: rgba(var(--primary-color), 0.2);
}
.carrousel::-webkit-scrollbar-thumb{
	background: rgba(var(--primary-color), 0.5);
}
.carrousel::-webkit-scrollbar-thumb:hover{
	background: rgba(var(--primary-color), 1);
}

.personajes-c{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.card.personaje > img{
	width: 256px;
	height: 256px;
	object-fit: cover;
}

.card.personaje p.color{
	color: rgb(var(--primary-color));
	font-family: Libre Baskerville;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.card.personaje h5{
	margin: 0;
	line-height: normal;
	height: auto;
}

.card.personaje{
	width: 256px;
	min-width: 256px;
}

.card.personaje > .content{
	gap: 0px;
	align-items: center;
	padding: 16px;
}

@media (max-width: 640px){
	#header{
		padding: 32px;
	}
	.section, #footer{
		padding: 24px;
	}
	h1{
		font-size: 48px;
	}
	h3{
		font-size: 24px;
	}
	p{
		font-size: 20px;
	}
	.card{
		max-width: 384px;
		width: 100%;
	}
	.cards{
		gap: 16px;
	}
	.formcta{
		flex-direction: column;
		align-items: start;
		justify-content: start;
		max-width: none;
	}
	.logos.absolute{
		position: absolute;
		top: calc(100svh - 338px);
	}
}
